{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true
  },
  "plugins": [
    "js",
    "react",
    "astro",
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:js/recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:astro/recommended"
  ],
  "overrides": [
    {
      "files": ["**/*.astro"],
      "parser": "astro-eslint-parser",
      "parserOptions": {
        "parser": "@typescript-eslint/parser",
        "extraFileExtensions": [".astro"]
      }
    },
    {
      "files": ["**/*.{ts,tsx}"],
      "parser": "@typescript-eslint/parser"
    }
  ]
}
