---
---

<style>
  .circle {
    position: absolute;
    width: 50px;
    height: 50px;

    opacity: 0;
    pointer-events: none;
    border-radius: 50%;
    background-color: rgba(253, 230, 138, .7);
    transition: transform 0.1s ease, opacity 0.3s ease, width 0.5s ease, height 0.5s ease;
  }

  .visible {
    opacity: 1;
  }

  .small {
    width: 0px;
    height: 0px;
  }
</style>

<div class="circle small" id="follower"></div>

<script>
  const follower = document.getElementById('follower')

  let timeout = 0

  document.addEventListener('mousemove', (event) => {
		if (!follower) return

    follower.style.transform = `translate(${event.clientX - 15}px, ${event.clientY - 15}px)`
    follower.classList.add('visible')
    follower.classList.remove('small')

    clearTimeout(timeout)

    timeout = setTimeout(() => {
      follower.classList.add('small')
    }, 500)
  })

  document.addEventListener('mouseleave', () => {
		if (!follower) return

    follower.classList.add('small')
  })
</script>
