---
import { Header } from '@/components/header'
import { ThemeToggle } from '@/components/theme-toggle'

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
	<head>
		<link rel='preconnect' href='https://fonts.googleapis.com'>
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin'>

		<meta charset='UTF-8' />
		<meta name='description' content='Astro description' />
		<meta name='viewport' content='width=device-width' />

		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />

		<link href='https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap' rel='stylesheet'>

		<meta name='generator' content={Astro.generator} />

		<title>{title}</title>
	</head>
	<body>
		<Header>
			<ThemeToggle client:load />
		</Header>

		<slot />
	</body>
</html>
<style is:global>
	* { 
		transition: color .3s, background-color .3s, transform .3s;
	}
</style>
